<%= render 'layouts/header.html.erb', title: 'Contact', subheading: ""  %>
<div class="container">
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="col-md-5 padding"> <%= f.input :nom, label:false, :required => true, placeholder: "Nom" %>
    <%= f.input :prenom, label:false, :required => true, placeholder: "Prenom" %>
    <%= f.input :email, label:false, :required => true, placeholder: "Nom" %>
    </div>

    <div class="col-md-5 padding"> <%= f.input :objet, label:false, :required => true, placeholder: "Objet" %>
    <%= f.input :message, label:false, :as => :text, :required => true, :input_html => {:rows => 8}, placeholder: "Message" %>
    </div>
  </div>


    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Envoyer', :class=> "btn btn-envoi pull-right" %>
    </div>
  <% end %>
</div>
