<%= render 'layouts/header.html.erb', img: 'home-bg.jpg', title: 'Ma Memorie', subheading: "L'humaniste que j'étais et que je suis toujours aujourd'hui ..."  %>

<!-- Main Content -->
<div class="container">
  <p id="notice"><%= notice %></p>






      <div class="container-fluid">
        <div class="row">
    			<div class="masonry-container">
            <% @memories.each do |memory| %>
              <div class="col-md-3 col-sm-3 col-xs-6 item">
                <%= link_to memory do %>
                  <div class="col-lg-12 text-center">
                    <%= memory.histoire %>
                    <hr>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-lg-12">
        <%= link_to 'New Memory', new_memory_path %>
      </div>
    </div>
</div>
