<%= render 'layouts/header.html.erb', img: 'home-bg.jpg', title: "#{@memory.title}", subheading: ""  %>
<div class="container">
  <div class="col-lg-3">
      <%= image_tag "img.jpg", class:"img-responsive img-show" %>
  </div>
  <div class="col-lg-9">

    <p>
      <!-- <h1><%= "Le #{@memory.created_at}" %></h1> -->
      <div class="souvenirs-content">
        <p><span id="maj_text" class="title-header"><%= @memory.histoire[0..0].upcase%></span>
        <%= @memory.histoire[1..@memory.histoire.length]%>
        </p>
      </div>
    </p>
    <div class="pull-right">
      <%= link_to 'Modifier', edit_memory_path, class:"btn edit" %>
      <%= link_to 'Retour', memories_path, class:"btn back" %>
    </div>

  </div>
</div>
