<%= render 'layouts/header.html.erb', img: 'home-bg.jpg', title: "#{@memory.title}", subheading: ""  %>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="col-lg-3">
      <%= image_tag "img.jpg", class:"img-responsive img-show" %>
  </div>
  <div class="col-lg-9">
    <p>
      <!-- <h1><%= "Le #{@memory.created_at}" %></h1> -->
      <div class="souvenirs-content">
        <%= @memory.histoire %>
      </div>
    </p>
    <div class="pull-right">
      <%= link_to 'Modifier', edit_memory_path, class:"btn edit" %>
      <%= link_to 'Retour', memories_path, class:"btn back" %>
    </div>

  </div>
</div>
