<%= render 'layouts/header.html.erb', img: 'home-bg.jpg', title: '', subheading: ""  %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Histoire:</strong>
    <%= @memory.histoire %>
  </p>

  <%= link_to 'Edit', edit_memory_path(@memory) %> |
  <%= link_to 'Destroy', memory_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', memories_path %>
</div>
